<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapsed" class="sidebar-menu">
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/main', 'welcome']">
      <nz-icon nzType="home"></nz-icon>
      <span class="menu-label">Bienvenido</span>
    </a>
  </li>

  <li nz-menu-divider></li>

  <ng-container *ngIf="loading; else modulesList">
    <li nz-menu-item nzDisabled class="loading-item">
      <nz-spin nzSize="small"></nz-spin>
      <span class="menu-label">Cargando módulos...</span>
    </li>
  </ng-container>

  <ng-template #modulesList>
    <ng-container *ngIf="menuItems.length; else noModules">
      <ng-container *ngFor="let item of menuItems; trackBy: trackByKey">
        <li nz-menu-item nzMatchRouter [nzDisabled]="item.disabled">
          <a *ngIf="!item.disabled; else disabledModule" [routerLink]="item.route">
            <nz-icon [nzType]="item.icon"></nz-icon>
            <span class="menu-label" [title]="item.label">{{ item.label }}</span>
          </a>
          <ng-template #disabledModule>
            <span class="disabled-module" nz-tooltip nzTooltipTitle="Módulo no configurado">
              <nz-icon [nzType]="item.icon"></nz-icon>
              <span class="menu-label" [title]="item.label">{{ item.label }}</span>
            </span>
          </ng-template>
        </li>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #noModules>
    <li nz-menu-item nzDisabled>
      <nz-icon nzType="info-circle"></nz-icon>
      <span class="menu-label">Sin módulos activos / contacte administración</span>
    </li>
  </ng-template>

  <li nz-menu-divider></li>

  <li nz-menu-item nzMatchRouter class="container-logout">
    <a href="/auth/login" (click)="logout($event)">
      <nz-icon nzType="logout" nzTheme="outline"></nz-icon>
      <span class="menu-label">Cerrar Sesión</span>
    </a>
  </li>
</ul>
