<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapsed">
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/main', 'welcome']">
      <nz-icon nzType="home"></nz-icon>
      <span>Bienvenido</span>
    </a>
  </li>

  <li nz-menu-divider></li>

  <ng-container *ngIf="loading; else modulesList">
    <li nz-menu-item nzDisabled class="loading-item">
      <nz-spin nzSize="small"></nz-spin>
      <span>Cargando módulos...</span>
    </li>
  </ng-container>

  <ng-template #modulesList>
    <ng-container *ngIf="menuItems.length; else noModules">
      <ng-container *ngFor="let item of menuItems; trackBy: trackByKey">
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="item.route">
            <nz-icon [nzType]="item.icon"></nz-icon>
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #noModules>
    <li nz-menu-item nzDisabled>
      <nz-icon nzType="info-circle"></nz-icon>
      <span>Sin módulos disponibles</span>
    </li>
  </ng-template>

  <li nz-menu-divider></li>

  <li nz-menu-item nzMatchRouter class="container-logout">
    <a href="/logout">
      <nz-icon nzType="logout" nzTheme="outline"></nz-icon>
      <span>Cerrar Sesión</span>
    </a>
  </li>
</ul>
